<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - HazieOlu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block style %}{% endblock %}
    <script src="https://kit.fontawesome.com/e677117ef6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo">HazieOlu</div>
      <nav class="navbar">
        <span class="username">{{ current_user.username }}</span>
        <span class="menu">
          <!-- <button class="hamburger" id="hamburger">☰</button> -->
          <div id="hamburger" class="hamburger">
            <!-- Hamburger icon (3 lines) -->
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <ul class="nav-links">
            {% if current_user.username %}
              <li><a href="{{ url_for('home') }}">Home</a>
                <li><a href="{{ url_for('users.dashboard') }}">Dashboard</a>
              <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
              <li><a href="{{ url_for('tasks.create_task') }}">Add Task</a>
            {% else %}
              <li><a href="{{ url_for('home') }}">Home</a>
              <li><a href="{{ url_for('auth.register') }}">Register</a>
              <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </ul>
        </span>
      </nav>
    </header>

    <!-- Dynamic contents rendering -->
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <!-- About Section -->
        <div class="footer-section">
          <h4>About Me</h4>
          <p>I am a software engineer and I'm dedicated to delivering quality softwares. Your satisfaction is my priority.</p>
        </div>

        <!-- Contact Section -->
        <div class="footer-section">
          <h4>Contact Me</h4>
          <p>Email: johnken@gmail.com</p>
          <p>Address: Abuja, Nigeria</p>
        </div>

        <!-- Social Media Section -->
        <div class="footer-section">
          <h4>Follow Me</h4>
          <div class="social-icons">
            <a href="#"><img src="../static/images/facebook_logo.png" alt="Facebook"></a>
            <a href="#"><img src="../static/images/x_logo.png" alt="X"></a>
            <a href="#"><img src="../static/images/instagram_logo.jpeg" alt="Instagram"></a>
            <a href="#"><img src="../static/images/linkedin_logo.png" alt="LinkedIn"></a>
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <p>&copy; 2025 Johnkenzzy. All rights reserved.</p>
      </div>
    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>
