{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='taskcard.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Welcome to your profile {{current_user.username}}{% endblock %}</h1>
  <p>Get productive today!</p>
{% endblock %}

{% block  content %}
  {% if not tasks %}
    <p>No task added yet, add some</p> 
  {% else %}
 
    <!-- Active Tasks -->
    <h2 style="color:orange">Active Tasks</h2>
    {% if active %}
      {% for task in active%}
        {% include 'taskcard.html' %}
      {% endfor %}
    {% else %}
      <p>You have no active task.</p>
    {% endif %}

    <!-- Behind Schedule -->
    <h2 style="color: red;">Behind Schedule</h2>
    {% if behind %}
      {% for task in behind %}
        {% include 'taskcard.html' %}
      {% endfor %}
    {% else %}
      <p>You are all set, no task is behind.</p>
    {% endif %}

    <!-- Completed Tasks -->
    <h2 style="color: green;">Completed Tasks</h2>
    {% if completed %}
      {% for task in completed %}
        {% include 'taskcard.html' %}
      {% endfor %}
    {% else %}
      <p>You are yet to complete any task, please do the needful.</p>
    {% endif %}

  {% endif %}
{% endblock  %}
