{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to HazieOlu - Your Ultimate Task Management Companion{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article>
        <p>
            Say goodbye to chaos and hello to clarity. 
            HazieOlu is here to help you organize, prioritize, 
            and conquer your day with ease. Whether you're managing
            personal goals, team projects, or daily to-dos, our intuitive
            platform empowers you to stay on track and achieve more.
        </p>
        <h3>Simplify. Focus. Succeed.</h3>
        <p>
            Start your journey to productivity today with HazieOlu – where
            every task finds its place, and every goal becomes achievable.
        </p>
        <p>Let’s make productivity effortless, together.</p>
    </article>
{% endblock %}
